@font-face {
  font-family: FenwickWoodtype;
  src: url(../fonts/FenwickWoodtype.ttf);
}

body {
  background-image: url("../images/parchment.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: FenwickWoodtype;
  color: black;
  image-rendering: pixelated;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: rgb(7, 7, 7);
}

.navbar-brand {
  font-family: FenwickWoodtype;
  font-size: 36px;
}

.message {
  font-size:22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(91, 16, 16);
  text-shadow: 1px 1px #999797;
}
* {
  box-sizing: border-box; 
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  height: 100vh;
}
.grid-container > div {
  padding: 20px 0;
  font-size: 30px;
}

#dice {
display: flex;
}